main {
    margin: 25px;
}

main img {
    width: 1000px;
    display: block;
    margin: auto;
}

main button {
    display: block;
    margin: auto;
    margin-top: 15px;
}

#slideshow {
    display: flex;
}

#slideshow p {
    font-size: 100px;
    align-self: center;
    cursor: pointer;
}