main {
    margin: 25px;
}

main img {
    width: 1000px;
    display: block;
    margin: auto;
    max-height: 600px;     /* prevents huge tall images */
    object-fit: cover;     /* crops if needed without stretching */
    object-position: top;  /* so you always see the cat's face */
}

main button {
    display: block;
    margin: auto;
    margin-top: 15px;
}

#slideshow {
    display: flex;
}

#slideshow p {
    font-size: 100px;
    align-self: center;
    cursor: pointer;
}