* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--header-font-size);
    font-family: var(--header-font-family);
}

h1 a {
    font-size: var(--header-font-size);
    font-family: var(--header-font-family);
}

h2 {
    font-size: var(--subheader-font-size);
    font-family: var(--header-font-family);
}

a {
    text-decoration: none;
    color: black;
    font-family: var(--header-font-family);
    font-size: var(--paragraph-font-size);
}

p {
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
}

button {
    border: solid 2px;
    border-radius: 5px;
    font-size: var(--paragraph-font-size);
    font-family: var(--paragraph-font-family);
    padding: 5px;
    background-color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Cats Popup Information Modal */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}