* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--header-font-size);
    font-family: var(--header-font-family);
}

h1 a {
    font-size: var(--header-font-size);
    font-family: var(--header-font-family);
}

a {
    text-decoration: none;
    color: black;
    font-family: var(--header-font-family);
    font-size: var(--paragraph-font-size);
}

p {
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
}

button {
    border: solid 2px;
    border-radius: 5px;
    font-size: var(--paragraph-font-size);
    font-family: var(--paragraph-font-family);
    padding: 5px;
    background-color: white;
    cursor: pointer;
}