:root {
    --header-font-family: 'Courier New', Courier, monospace;
    --paragraph-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --header-font-size: xx-large;
    --subheader-font-size: x-large;
    --paragraph-font-size: larger;
    --background-color: rgb(246, 242, 242);
    --header-background-color: #FFC09F;
}